Some controls for liquid assets, min %, etc
<%= for item <- @items do %>
  <%= render("card.html", item: item) %>
<% end %>

<script>
window.onload = () => {
  window.osrs_ge_tracker.chart_hourly(<%= ids_json(@items) %>);
}
</script>
