<section class="container mx-auto">
  <div class="shadow-lg rounded max-w-lg mx-auto">
    <div class="text-6xl text-center py-8">Dionysius</div>
    <a href="/items">Click here to see the items</a>
  </div>
</section>
